@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: url(./assets/coming-soon-bg.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}

.sh {
  color: #ff841f;
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: 0px 0px 0 #ed720d,
               1px 1px 0 #db6000,
               2px 2px 0 #c94e00,
               3px 3px 0 #b63b00,
               4px 4px 0 #a42900,
               5px 5px 0 #921700,
               6px 6px 0 #800500,
               7px 7px  0 rgb(110,-13,0),
               8px 8px 7px #000000fc,
               8px 8px 1px #00000080,
               0px 0px 7px #00000033;
}